<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:name=".views.MainApplication"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/stool"
        android:label="@string/app_name"
        android:roundIcon="@drawable/stool"
        android:supportsRtl="true"
        android:theme="@style/Theme.BellyBalance"
        tools:targetApi="31">
        <activity
            android:name=".views.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.BellyBalance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".views.LoginActivity" />
        <activity android:name=".views.MainpageActivity"/>
        <activity android:name=".views.ConditionActivity"/>
        <activity android:name=".views.PoopActivity"/>
        <activity android:name=".views.SettingsActivity"/>
        <activity android:name=".views.FoodActivity"/>
        <activity android:name=".views.StoolChartActivity"/>
        <activity android:name=".views.AnalyseActivity"/>
        <activity android:name=".ResultsActivity"/>
        <activity android:name=".views.CalenderActivity"/>
        <activity android:name=".views.SignupActivity"/>
        <activity android:name=".views.UpgradeLoggedinActivity"/>
        <activity android:name=".views.UpgradeLoggedOutActivity"/>




    </application>



</manifest>